page-bookings {
    ion-content{
        background: linear-gradient(rgba($color-dark, .9), rgba($color-dark, .8)),url('../../assets/imgs/7.jpg');
        background-size: cover;
    }
    .mainContent{
        margin-top: 10vh; 
        color: white;
    }

    .messagecontainer{
        margin: 0 auto;
        display: block;
        .messages{
            font-size: 1.5rem;
        }
    }
}
