page-bookings {
    .mainContent{
        margin-top: 10vh;
    }

    .messagecontainer{
        margin: 0 auto;
        display: block;
        .messages{
            font-size: 1.5rem;
        }
    }
}
