page-view-profile {
    ion-content{
        background: linear-gradient(rgba($color-dark, .9), rgba($color-dark, .8)),url('../../assets/imgs/7.jpg');
        background-size: cover;
        color: white !important;
        margin: 0 !important;
        padding: 0 !important;
        animation: 1s ease fadeIn;
    }
    .segs{
        margin-top: 6rem;
<<<<<<< HEAD
=======
        flex: auto 0 0;
>>>>>>> 13793424d8590c56107b46388abb5feaf81fd942
    }
    .hero{
        opacity: .98;
        width: 100vw;
        background: linear-gradient(rgba($color-dark, .6), rgba($color-dark, .6)),url('../../assets/imgs/dj4.jpg');
        background-size: cover;
        background-position: bottom !important;
        &__herobanner{
            height: 20vh;
            display: flex;
            justify-content: space-evenly;
            flex-flow: row nowrap;
            &__heroimagecontainer{
                margin: .5rem;
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                &--image{
                    width: 10rem; 
                    height: 10rem;
                    border-radius: 50%;
                }
            }

            &__herotagcontainer{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                &__headingcontainer{
                    padding-left: 1rem;
                    margin-left: 5em
                    &--heading{
                        font-weight: 300;
                        text-transform: uppercase;
                        letter-spacing: .2rem;
                    }
                }

                &--tag{
                    margin-left: .5rem;
                    border-radius: 5rem;
                }
            }

            &__herobuttoncontainer{
                display: flex;
                height: 25vh;
                flex-direction: column;
                justify-content: flex-end;
                &--button{
                    animation: pulseate 1s ease infinite;
                    font-size: 1rem;
                } 
            }
        }
    }

    .item-ios, .item-md{
        background: transparent;
        border: none !important;
        color: $color-primary-light !important;
    }

    ion-list{
        position: absolute;
        top: 25vh;
    }

    ion-segment{
       margin-top: 1.5rem !important; 
    }
<<<<<<< HEAD

    .userProfile{
        word-wrap: break-word;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: -10px;
        padding-bottom: 15px;
        background: rgba(255, 255, 255, 0.020);
        margin-bottom: -10%;
        color: rgba(245, 245, 245, 0.829);
        width: 96%;
        margin: 0 auto;        
    }
    .Profile{
        word-wrap: break-word;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        background: rgba(255, 255, 255, 0);
        color: rgba(245, 245, 245, 0.829);
        width: 96%;
        margin: 0 auto;        
    }
    .cards{
        word-wrap: break-word;
     padding-top: 2px;
     padding-left: 8px;
        background: rgba(253, 253, 253, 0.911);
        color: rgb(17, 17, 17);
        width: 96%;
        margin: 0 auto;  
        height: 60px;     
        border-radius: 5px;
        border: 1px solid rgb(34, 33, 33);
=======
    ion-card{
        // position: relative;
        // display: block;
        // justify-content: center;
        height: 30em;
        top: 2em;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: inset 0px 0px 20em black; 
    }
    on-card-title{
        color: rgb(240, 248, 255);
    }

    .profile{
        display: flex;
>>>>>>> 13793424d8590c56107b46388abb5feaf81fd942
    }
}
