<ion-content>
    <div class="hero">
        <button ion-button clear class="hero--back">
            <ion-icon (click)="back()" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <div class="hero__herobanner">
            <div class="hero__herobanner__heroimagecontainer">
                <img [src]="pic" alt="" class="hero__herobanner__heroimagecontainer--image">
            </div>
            <div class="hero__herobanner__herotagcontainer">
                <div class="hero__herobanner__herotagcontainer__headingcontainer">
                    <h1 class="hero__herobanner__herotagcontainer__headingcontainer--heading">{{fullname}}</h1>
                </div>
                <div class="hero__herobanner__herotagcontainer__tagcontainer">
                    <ion-badge outline class="hero__herobanner__herotagcontainer--tag">{{genre}}</ion-badge>

                </div>
            </div>
            <div class="hero__herobanner__herobuttoncontainer">
            </div>
        </div>
    </div>

    <ion-segment [(ngModel)]="profile" class="segbtns">
        <ion-segment-button value="infor">
            Info
        </ion-segment-button>
        <ion-segment-button value="music">
            Music
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="profile" class="segcontainer">
        <ion-list *ngSwitchCase="'music'" class="segcontainer__seg">
            <ion-item no-lines *ngFor="let x of trackarray;let i=index;" class="segcontainer__seg__listitems">
                <h2 class="segcontainer__seg__listitems--artistname" (click)="deleteTrack(i)">{{x.count}}.{{x.artistName}}</h2>
                <h3 class="segcontainer__seg__listitems--artisttrack">{{x.trackName}}</h3>
                <p class="segcontainer__seg__listitems--artistlink">Listen to the song
                    <a (click)="openLink(x.trackLink)">here......</a>
                </p>
            </ion-item>

            <div class="nocontent" *ngIf="trackarray.length == 0 || trackarray.length == undefined">
                <div class="nocontent__contents">
                    <img class="nocontent__contents--image" src="../../assets/imgs/sound-wavesgrey.png" alt="">
                    <p class="nocontent__contents--text" style="color: white">Its lonely here...</p>
                </div>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'infor'" class="segcontainer__seg">
            <div no-lines  class="segcontainer__seg__bio">
                <div class="segcontainer__seg__bio__userProfile">
                    <h2 class="segcontainer__seg__bio__userProfile--bioheading">Bio</h2>
                    <p class="segcontainer__seg__bio__userProfile--biotext">{{bio}}</p>
                </div>
                <div class="nocontent1" *ngIf="bio == '' || bio == undefined">
                    <div class="nocontent1__contents">
                        <img class="nocontent1__contents--image" src="../../assets/imgs/sound-wavesgrey.png" alt="">
                        <p class="nocontent1__contents--text" style="color: white">Its lonely here...</p>
                    </div>
                </div>
            </div>
            <div no-lines class="segcontainer__seg__profilecontainer">
                <div class="segcontainer__seg__profilecontainer__profile">
                    <h2 class="segcontainer__seg__profilecontainer__profile--bioheading">Profile</h2>
                    <p *ngIf="stagename != undefined || stagename != stagename" class="segcontainer__seg__profilecontainer__profile--information">
                        <ion-icon name="contact"></ion-icon> <span class="infotext">{{stagename}}</span>
                    </p>
                    <p *ngIf="condition!= false" class="segcontainer__seg__profilecontainer__profile--information">
                        <ion-icon name="mail"></ion-icon> <span class="infotext">{{email}}</span>
                    </p>
                    <p *ngIf="city != undefined || city != city" class="segcontainer__seg__profilecontainer__profile--information">
                        <ion-icon name="locate"></ion-icon> <span class="infotext">{{city}}</span>
                    </p>
                </div>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'bookings'" class="segcontainer__seg">
            <div no-lines class="segcontainer__seg__cards" *ngFor="let i of bookingArr;let a=index;" (click)="viewBooking(a)">
                <p class="segcontainer__seg__cards--text"><strong>{{i.fanName}}</strong>, has requested
                    to book you, check your email.</p>
                <p class="segcontainer__seg__cards--datetext">{{i.date}} {{i.time}}</p>
            </div>

            <div class="nocontent" *ngIf="bookingArr.length == 0 || bookingArr.length == undefined">
                <div class="nocontent__contents">
                    <img class="nocontent__contents--image" src="../../assets/imgs/sound-wavesgrey.png" alt="">
                    <p class="nocontent__contents--text" style="color: white">Its lonely here...</p>
                </div>
            </div>
        </ion-list>
    </div>
</ion-content>

<ion-footer *ngIf="userStatus==false ||obj == null ||obj == undefined">
    <ion-toolbar color="primary" (click)="Booking()">
        <ion-title align="center">Request Booking</ion-title>
    </ion-toolbar>
</ion-footer>