page-profile {
    
    .bn{
        display: block;
    }

    ion-content{
        background: linear-gradient(rgba($color-dark, .9), rgba($color-dark, .8)),url('../../assets/imgs/7.jpg');
        background-size: cover;
        color: white !important;
        margin: 0 !important;
        padding: 0 !important;
        animation: 1s ease fadeIn;
    }

    .hero{
        width: 100vw;
        background: linear-gradient(rgba($color-dark, .6), rgba($color-dark, .6)),url('../../assets/imgs/dj4.jpg');
        background-size: cover;
        background-position: bottom !important;
        &__herobanner{
            height: 20vh;
            display: flex;
            justify-content: space-evenly;
            flex-flow: row nowrap;
            &__heroimagecontainer{
                margin: .5rem;
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                &--image{
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                }
            }
            &__herotagcontainer{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                &__headingcontainer{
                    margin-left: 1rem;
                    &--heading{
                        letter-spacing: .2rem;
                    }
                    button{
                        border-radius: 3em;
                        height: 3rem;
                        margin-bottom: 2rem;
                    }
                }

                &--tag{
                    margin-left: .5rem;
                }
            }
            &__herobuttoncontainer{
                position: relative;
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: flex-end;
                bottom: 15%;
            }
        }
    }
    
    .segs{
        margin-top: 89.8px;
    }
    
    .item-ios, .item-md{
        background: transparent;
        border: none !important;
        color: $color-primary-light !important;
       
    }
   
    ion-list{
        position: absolute;
        top: 25vh;
    }

    .listitems{
        &:nth-child(even){
            width: 100vw;
            background: rgba($color-grey-light, .1);
        }
    }

    .section{
        margin-top: 5vh;

    }

    ion-segment{
        margin-top: 1rem !important;
       
    }

    .userProfile{
        word-wrap: break-word;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: -10px;
        padding-bottom: 15px;
        background: rgba(255, 255, 255, 0.020);
        margin-bottom: -10%;
        color: rgba(245, 245, 245, 0.829);
        width: 100%;
        margin: 0 auto; 
    }

    .bioheading{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-size: 3rem;
        font-weight: 300;
    }
 
    .biotext{
        text-align: center;
        font-size: 1.4rem !important;
    }

    .Profile{
        word-wrap: break-word;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        background: rgba(255, 255, 255, 0);
        color: rgba(245, 245, 245, 0.829);
        width: 96%;
        margin: 0 auto; 
        p{
            margin-left: 2.4em;
            margin-top: -1.7em;
        }  
        h2{
            text-align: center;
            font-weight: 300;
            font-size: 3rem;
            letter-spacing: .3rem;
            text-transform: uppercase;
        }     
    }

    .cardcontainer{
        .cards{
            height: 15%;
        }
        &:not(:first-child){
            margin-top: 1rem;
        }

        &:nth-child(odd){
            .cards{
                animation: moveInLeft .8s ease;
                background: rgba($color-grey-light, .2);
            }
        }

        &:nth-child(even){
            .cards{
                animation: moveInRight .5s ease;
            }
        }
    }
    .cards{
        word-wrap: break-word;
        padding-top: 2px;
        padding-left: 8px;
        background: rgba(255, 255, 255, 0.020);
        color: rgba(245, 245, 245, 0.829);
        width: 96%;
        margin: 0 auto;  
        height: 60px;     
        border-radius: 5px;
        border: 1px solid rgb(34, 33, 33);   
    }
    
    .cards:not(:last-child){
        margin-top: 1rem;
    }
    .artistname , .artisttrack{
        color: white;
    }

    .artistname,{
        text-transform: capitalize;
        letter-spacing: .3rem;
    }

    .artisttrack{
        text-transform: capitalize;
        letter-spacing: .2rem;
    }

    .date{
        margin-top: .5rem;
        display: block;
        font-size: 1.2rem;
        font-style: italic;
    }

    .nocontent{
        animation: fade .6s;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100%;
        align-items: center;
        opacity: .5;
        &__contents{
            &--image{
                width: 15rem;
                height: 15rem;
                margin: 0 auto;
                display: block;
            }
            &--text{
                font-size: 2.5rem;
            }
        }
    }

    ion-fab{
        position: fixed;
        z-index: 999;
    }

    @keyframes fade {0%{opacity: .1;}100%{opacity: .5;};}
}
