page-user-profile {
    ion-content{
        background: linear-gradient(rgba($color-dark, .9), rgba($color-dark, .8)),url('../../assets/imgs/7.jpg');
        background-size: cover;
        color: white !important;
        margin: 0 !important;
        padding: 0 !important;
        animation: 1s ease fadeIn;
    }

    
    .icontop{
        zoom: 1.7;
        font-weight: bold;
    }
    
    .hero{
        width: 100%;
        background: linear-gradient(rgba($color-dark, .6), rgba($color-dark, .6)),url('../../assets/imgs/background.jpg');
        background-size: cover;
        background-position: bottom !important;
        &--back{
            display: inline-block;
            zoom: 1.5;
        }
        &__herobanner{
            height: 15rem;
            display: flex;
            justify-content: space-evenly;
            flex-flow: row nowrap;
            &__heroimagecontainer{
                margin: .5rem;
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                &--image{
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                }
            }
            &__herotagcontainer{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                &__headingcontainer{
                    margin-left: 1rem;
                    &--heading{
                        letter-spacing: .2rem;
                    }
                    button{
                        border-radius: 3em;
                        height: 3rem;
                        margin-bottom: 2rem;
                    }
                }

                &--tag{
                    margin-left: .5rem;
                }
            }
            &__herobuttoncontainer{
                position: relative;
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: flex-end;
                bottom: 15%;
            }
        }
    }

    .segcontainer{
        &__seg{
            margin: 0;
            
            &__listitems{
                background: transparent;
                color: $color-primary-light !important;
                &:nth-child(even){
                    width: 100vw;
                    background: rgba($color-grey-light, .1);
                }

                &--artistname, &--artisttrack{
                    color: white;
                    text-transform: capitalize;
                }

                &--artistname{
                    letter-spacing: .3rem;
                }

                &--artisttrack{
                    letter-spacing: .2rem;
                }
                
                &--artistlink{
                    a{
                        color: white;
                    }
                }
            }
            &__bio{
                &__userProfile{
                    background: rgba(255, 255, 255, 0.020);
                    color: rgba(245, 245, 245, 0.829);
                    width: 100%;
                    margin: 0 auto;
                    padding: .5rem;
                    text-align: center;
                    &--bioheading{
                        text-transform: uppercase;
                        letter-spacing: .3rem;
                        font-size: 3rem;
                        font-weight: 300;
                    }
                    &--biotext{
                        font-size: 1.5rem;
                    }
                }
            }

            &__profilecontainer{
                padding: 1rem;
                &__profile{
                    &--bioheading{
                        padding: 0;
                        margin: 0;
                        text-align: center;
                        font-weight: 300;
                        font-size: 3rem;
                    }
                    &--information{
                        font-size: 1.6rem;
                        ion-icon{
                            position: relative;
                            top: .2rem;
                            margin-right: .5rem;
                        }
                    }
                }
            }
            &__cardcontainer{
                background: transparent !important;
                border-radius: .5rem;
                width: 95vw;
                margin: 0 auto;
                &:nth-child(even){
                    background: rgba($color-grey-light, .2) !important;
                }
                &:nth-child(odd){
                    background: rgba($color-grey-light, .2);
                    border: 1px solid rgba($color-grey-light,.2);
                }
                &:not(:first-child){
                    margin-top: 1rem;
                }
                &:first-child{
                    margin-top: .5rem;
                }

                ion-item-options{
                    border: none !important;
                    animation: scale .5s ease;
                }
                p{
                    color: $color-grey-light;
                }
                ion-avatar{
                    margin: 0 1rem 0 0 !important;
                    
                }
                &__cards{
                    &--datetext{
                        margin-top: .5rem;
                        display: block;
                        font-size: 1.2rem;
                        font-style: italic;
                    }
                }
            }
        }
    }

    .item-md{
        background: transparent;
    }

    .list-ios ion-item-options{
        border-bottom: none !important;
    }

    .nocontent{
        animation: fade 1s ease;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100%;
        align-items: center;
        opacity: .5;
        margin-top: 5rem;
        &__contents{
            &--image{
                width: 15rem;
                height: 15rem;
                margin: 0 auto;
                display: block;
            }
            &--text{
                font-size: 2.5rem;
            }
        }
    }

    .nocontent1{
        background: rgba($color-grey-light, 0.05);
        animation: fade 1s ease;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100%;
        align-items: center;
        opacity: .5;
        padding-top: 5rem;
        &__contents{
            &--image{
                width: 15rem;
                height: 15rem;
                margin: 0 auto;
                display: block;
            }
            &--text{
                font-size: 2.5rem;
            }
        }
    }

    ion-fab{
        position: fixed;
        z-index: 999;
    }
    .segment-ios .segment-button:last-of-type {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        // margin-left: 0.2em;
        border-left-width: .1em;
      
    }
}
