<!--
  Generated template for the ChatroomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>

  <div class="hero">
    <div class="hero__headingcontainer">
        <h3 class="hero__headingcontainer--header">Chat</h3>
    </div>
  </div>
  <!-- <ion-input placeholder="text" [(ngModel)]="message"></ion-input>
  <button ion-button (click)="send()">send</button> -->
  <!-- <ion-list>
      <ion-item-sliding *ngFor="let x of arrMssg">
        <ion-item>
          <h1>{{x.name}}</h1><br>
         
          <h2>{{x.message}}</h2><br>
          <h6>{{x.time}}</h6>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="primary">
            <ion-icon name="text"></ion-icon>
            Text
          </button>
          <button ion-button color="secondary">
            <ion-icon name="call"></ion-icon>
            Call
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            Email
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> -->

  <div class="messages">
    <div class="chatBubble" *ngFor="let x of arrMssg">
      <div class="chat-bubble {{x.condition}}">
        <div class="message">{{x.message}}</div>
        <div class="message-detail">
          <span style="font-weight:bold;">{{x.name}} </span>,
          <span>{{x.time}}</span>
        </div>
      </div>
    </div>
  </div>

  <button ion-button icon-only *ngIf="messagestate != 'sending'" class="comment" (click)="messagestate = 'sending'">
    <ion-icon name="chatbubbles"></ion-icon>
  </button>

  <chatbox (messageCreate)="onMessageAdded($event)" *ngIf="messagestate == 'sending'"></chatbox>

</ion-content>