page-catergories {
    ion-content{
        background: linear-gradient(rgba($color-dark, .9), rgba($color-dark, .8)),url('../../assets/imgs/7.jpg') !important;
        background-size: cover !important;
        animation: 1s ease fadeIn;
    }

    .dropdown{
        background: rgba($color-grey-light, .1) !important;
        border-radius: 5rem;
        height: 2rem;
        color: $color-primary-light;
        width: 95%;
        margin: .5rem auto;
    }

    .heading{
        font-size: 3rem;
        letter-spacing: .2rem;
        color: $color-grey-light;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        text-shadow: .2rem .3rem .5rem rgba($color-grey-light,.4);
    }

    .filtercontainer{
        display:flex;
    }

    .refresh{
        border-radius: 50%;
        flex: auto 0 0 ;
        width: 4.5rem;
        height: 4.5rem;
    }
 
    .card-heading{
        color: $color-primary-light;
        text-transform: capitalize;
    }
 
    ion-item{
        height:7rem;
        &:nth-child(even){
            background: rgba($color-grey-light, .1) !important;
            animation: moveInLeft .8s ease;
        }
        &:nth-child(odd){
            animation: moveInRight .5s ease;
        }
        background: transparent !important;
    }

    ion-thumbnail{
        margin-right: 0 !important;
        img{
            border-radius: 50% !important;
            width: 6rem !important;
            height: 6rem !important;
            margin-top: 1rem;
        }
    }
 
    .list{
        overflow: scroll !important;
        height: 78%;
    }
 


    .nocontent{
        animation: fade 1s ease;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100%;
        align-items: center;
        opacity: .5;
        &__contents{
            &--image{
                width: 15rem;
                height: 15rem;
                margin: 0 auto;
                display: block;
            }
            &--text{
                font-size: 2.5rem;
            }
        }
    }
}